
<button type="button"  (click)="goToCategory()">
          Categorias
        </button>

<h2>{{ isEdit ? 'Editar' : 'Crear' }} Producto</h2>

<form (ngSubmit)="save()">
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="product.name" name="name" required />

  <label>Precio:</label>
  <input type="number" [(ngModel)]="product.price" name="price" required />

  <label>Descripción:</label>
  <textarea [(ngModel)]="product.description" name="description"></textarea>
  
  <label>Categoria:</label>
  <input type="text" [(ngModel)]="product.category_id" name="Categoria" required />

  <button type="submit">{{ isEdit ? 'Actualizar' : 'Crear' }}</button>
</form>
